
/* For all */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    font-family: roboto;    
}

/* Main sections */
header
{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 15px; */
    max-width: auto;
    height: auto;
}

/* Classes */
.center{
    text-align: center;
    padding: 15px;
    color: white;
    background-color: black;
}

.centertwo{
    text-align: center;
    padding: 15px;
    color: black;
    background-color: whitesmoke;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 15px 0;
}

h2{
    font-size: 2rem;
}

.inlineblock{
    display: inline-block;
    padding: 15px;
}

.imagealigncenter{
    display: inline-block;
    box-align: middle;
}

.overlay {
        height: 40px;
        width:98%;
        color: black;
        border-radius: 2.5px;
        border-color: none;
        border-style: none;
        background-color: rgb(40, 40, 40);
        opacity: 1;
        background-image: url('/img/magniglass.png');
        background-repeat: no-repeat;
        background-size: 27px;
        background-position: 3mm;
        padding: 30px 50px;
        margin: 1%;
}

.bottomborder{
    border-color: rgb(40, 40, 40);
    border-style: none none solid none;
    border-width: .5mm;
    display: block;
    margin: 30px;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    padding: 15px 1px;
}

.bottomborderone{
    border-color: rgb(40, 40, 40);
    opacity: .9;
    border-style: none none solid none;
    border-width: .3mm;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px none;
}

.bottombordertwo{
    border-color: rgb(40, 40, 40);;
    border-style: none none none none;
    border-width: .5mm;
    display: block;
    margin: 30px;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    padding: 10px none;
}

