@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    font-family: roboto;
}

header
{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    max-width: auto;
    height: auto;
}

.center{
    align-content: center;
}