
/* For all */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    font-family: roboto;
}

/* Main sections */
header
{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 15px; */
    max-width: auto;
    height: auto;
}

/* Classes */
.center{
    text-align: center;
    padding: 0 0 60% 0;
    color: white;
    background-color: black;
    background-image: url('/img/iphone11pro.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.centertwo{
    text-align: center;
    padding: 1% 0 50% 0;
    color: black;
    background-color: rgb(250, 250, 250);
    background-image: url('/img/iphone11.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.centerthree{
    text-align: center;
    padding: 3% 0 50% 0;
    color: black;
    background-color: rgb(250, 250, 250);
    background-image: url('/img/applewatch.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    padding: 40px 0 15px 0;
}

h2{
    font-size: 2rem;
    padding: 15px;
}

.h2color{
    color:#67a5e4;
    text-decoration: none;
}

h3{
    color: grey;
    padding: 15px;
    font-size: 1.5rem;
}

h4{
    color: red;
    padding: 10px;
    font-size: 1.8rem;
}

.inlineblock{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

.imagealigncenter{
    display: inline-block;
    box-align: middle;
}

.overlay {
        height: 30px;
        width:98%;
        color: white;
        border-radius: 2.5px;
        border-color: none;
        border-style: none;
        background-color: rgb(40, 40, 40);
        opacity: 1;
        background-image: url('/img/magniglass.png');
        background-repeat: no-repeat;
        background-size: 27px;
        background-position: 3mm;
        padding: 30px 50px;
        margin: 1%;
}

.bottomborder{
    border-color: rgb(40, 40, 40);
    border-style: none none solid none;
    border-width: .5mm;
    display: block;
    margin: 30px;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    padding: 15px 1px;
}

.bottomborderone{
    border-color: rgb(40, 40, 40);
    opacity: .9;
    border-style: none none solid none;
    border-width: .3mm;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px none;
}

.bottombordertwo{
    border-color: rgb(40, 40, 40);;
    border-style: none none none none;
    border-width: .5mm;
    display: block;
    margin: 30px;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    padding: 10px none;
}

.searchbuttontext{
    font-size: 2rem;
}

.applelogo{
    display: inline-block;
    text-align: center;
}

.cartbutton{
    display: inline-block;
    text-align: center;
    width: 20px;
}

.hidemenu{
    /* display: none; */
}

.container{
    max-width: 50rem;
    margin: 0 auto;
}
